
.videoCard{
    border: 1px solid #d2ebfc;
    border-radius: 6px;
    margin: 20px 10px;
    background-color: #d2ebfc;
    box-shadow: 0px 4px 8px 2px rgb(163, 163, 163);
}


.mejs__container {
    width: 95%;
    margin: 15px auto;
}